In [1]:
import pandas as pd

In [2]:
players = pd.read_csv("players.csv")
players['birth_year'] = pd.to_numeric('19' + players['birth_date'].str.strip().str[-2:])
players.drop(['column_a', 'url', 'birth_date'], axis=1, inplace=True)
players = players[pd.notnull(players['height'])]

In [3]:
height_ft = players['height'].str.strip().str[0:1].astype(int)
height_in = players['height'].str.strip().str[2:4].astype(int)

players['height'] = pd.to_numeric(height_ft * 12 + height_in)

In [22]:
players['ncaa_efgpct'] = round((players['ncaa_fgpg'] + 0.5 * players['ncaa_3ptpg']) / players['ncaa_fgapg'], 3)
players['career_length'] = players['active_to'] - players['active_from']
players['bmi'] = round((players['weight']/(players['height'])**2)*703, 1)
players['age_entering_league'] = players['active_from'] - players['birth_year']
players = players[players['age_entering_league'].notna()]
players['age_entering_league'] = players['age_entering_league'].astype(int)

In [23]:
players['position'] = players['position'].str.strip().str[0]

In [24]:
players.head()

,active_from,active_to,college,height,name,position,weight,nba_3ptapg,nba_3ptpct,nba_3ptpg,...,ncaa_fgpg,ncaa_ft,ncaa_ftapg,ncaa_ftpg,ncaa_games,ncaa_ppg,birth_year,career_length,bmi,age_entering_league
0,1991,1995,Duke University,82,Alaa Abdelnaby,F,240.0,0.0,0.000,0.0,...,3.3,0.728,2.5,1.8,134.0,8.5,1968.0,4,25.1,23
1,1969,1978,Iowa State University,81,Zaid Abdul-Aziz,C,235.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1946.0,9,25.2,23
2,1970,1989,"University of California, Los Angeles",86,Kareem Abdul-Jabbar,C,225.0,0.0,0.056,0.0,...,10.7,0.628,7.9,5.0,88.0,26.4,1947.0,19,21.4,23
3,1991,2001,Louisiana State University,73,Mahmoud Abdul-Rauf,G,162.0,2.3,0.354,0.8,...,10.4,0.863,6.4,5.5,64.0,29.0,1969.0,10,21.4,22
4,1998,2003,"University of Michigan, San Jose State University",78,Tariq Abdul-Wahad,F,223.0,0.3,0.237,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,1974.0,5,25.8,24

In [25]:
players.to_csv('players_updated1.csv', index=False)